* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    padding: 0;
}

header {
    padding: 20px;
    background-color: #ebebeb;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

nav {
    clear: both;
    background-color: #ebebeb;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    padding: 0;
}

section {
    clear: both;
    background-color: #ebebeb;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    width:60%;
}

article {
    clear: both;
    text-align: center;
    color: #ebebeb;
    background: #777;
    padding: 20px;
    margin: 5px;
    margin-top: 20px;
}

h1 {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    margin: 20px;
}

p {
    color: #777;
    background: #ebebeb;
    padding: 20px;
    margin: 20px;
}

aside {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    float: right;
    width: 37%;
    height: 332px;
    overflow: auto;
}

footer {
    clear: both;
    background-color: #ebebeb;
    padding: 20px;
    text-align: center;
}
